@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: var(--background-color);
    

}
section{
    height: 555px;
}

:root{
    --background-color: #f0f2f5;
    --button-color:#42b72a;
    --blue-color: #0866ff;
    --text-color: #1c1e21;
    --border-color: #dddfe2;
}
.container{
    width: 70%;
    margin: auto;
}
@media (max-width:1500px){
    .container{
        width: 70%;
    }
}
#facebook,#email-1,.eng,.meta,.help{
    display: none;
}
.demo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 130px;
}
.demo .left img{

    width: 330px;
    
}
.demo .left{
    position: relative;
    bottom: 60px;
    right: 40px;
}
.demo .left p{
    position: relative;
    left: 30px;
    bottom: 15px;
    font-size: 27px;
    color: var(--text-color);

}
.demo .right .search form{
    border: 1px solid var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 395px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 2px 2px 32px 4px var(--border-color);
    background-color: white;


}
.demo .right .search form input{
    width: 360px;
    padding: 13px 18px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    margin: 14px 0 0 0;
    
}
.demo .right .search form input[placeholder]{
    opacity: 0.7;
    font-size: 17px;

}

.demo .right .search form input[placeholder]:focus{
    border-color: var(--blue-color);
}

.demo .right .search form input[type="submit"] {
    
   background-color: var(--blue-color);
   color: white;
   font-size: 19px;
   font-weight: 500;
   cursor: pointer;
}
.demo .right .search form input[type="submit"]:hover{
    background-color: #1877f2;
    
}
.demo .right .search form a{
    text-align: center;
    padding: 18px 0;
    font-size: 14px;
    color: var(--blue-color);
    
}
.demo .right .search form a:hover{
    text-decoration: underline var(--blue-color) solid;
}

.demo .right .search form .button{
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.demo .right .search form button{
    margin-top: 20px;
    position: absolute;
    left: 90px;
    top: 8px;  
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    width: 190px;
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    background-color: var(--button-color);
}
.demo .right .search form button:hover{
    cursor: pointer;
    background-color: #219e08    ;
}

.demo .right .search .hint{
    margin-top: 20px;

    text-align: center;
    font-size: 13px;
    color: var(--text-color);
}
.demo .right .search .hint a{
    font-weight: 600;
    color: black;
}
.demo .right .search .hint a:hover{
    text-decoration: underline black solid;

}
footer{
    background-color: white;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    
}

footer .lang{
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 300;
    flex-direction: row;
    padding: 30px 0 10px 0;

}
footer .lang a{
    margin-left: 10px;
    color: var(--text-color);
}
footer .lang a:hover,footer .other a:hover{
    text-decoration: underline solid var(--text-color);
}
footer .lang button{
    margin-left: 10px;
    font-size: 15px;
    padding: 0px 10px 0px 10px ;
}
footer .other{
    border-top: 1px solid var(--border-color);
    font-size: 12px;
    font-weight: 350;
    position: relative;
    right: 25px;
    padding-top: 10px;
}
footer .other a{
    margin-left: 22px;
    line-height: 20px;
    color: var(--text-color);

}
.copyrite{
    padding: 20px 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    
}



